<%

    case platform['platform']
      when 'linux64'
        icon = 'linux'
        label = 'Linux 64-Bits'
      when 'linux32'
        icon = 'linux'
        label = 'Linux 32-Bits'
      when 'win32'
        icon = 'windows'
        label = 'Windows 32-Bits'
      when 'win64'
        icon = 'windows'
        label = 'Windows 64-Bits'
      when 'osx32'
        icon = 'apple'
        label = 'OSX 32-Bits'
      when 'osx64'
        icon = 'apple'
        label = 'OSX 64-Bits'
      end
%>
<div id="download-button">
    <p>
        <a href="download/<%= platform['platform'] %>/<%= platform['file'] %>" class="btn btn-primary btn-lg external" id="download"><%= t "platforms.download" %> Pickatune <%= platform['version'] %><i class="fa fa-<%= icon %>"></i></a>
    </p>
    <p id="platform"><%= t "platforms.for" %> <%= label %></p>
</div>