<div class="jumbotron" id="main">
    <div class="container" id="welcome">
        <div id="welcome-left">
            <h1> <%= t 'welcome.title' %></h1>
            <%= render :partial => "partials/download_button", locals: {:platform => @platforms[@platform]} %>
            <p id="platform-link"><a href="#platforms"><%= t "welcome.download_platforms"%></a></p>
        </div>

        <div id="welcome-right">
            <%= image_tag("pickatune_mock.png", :width => '100%', :id => 'pickatune_mock.png') %>
        </div>
    </div>
</div>

<div class="container" id="info">
    <!-- Example row of columns -->
    <h1><%= t "info.title" %></h1>

    <div class="row">
        <div class="col-md-4">
            <h2><%= t "info.feature1.title" %></h2>
            <p><%= t "info.feature1.content" %></p>
        </div>
        <div class="col-md-4">
            <h2><%= t "info.feature2.title" %></h2>
            <p><%= t "info.feature2.content" %></p>
        </div>
        <div class="col-md-4">
            <h2><%= t "info.feature3.title" %></h2>
            <p><%= t "info.feature3.content" %></p>
        </div>
    </div>

    <hr>
</div>


<%= render :partial => "partials/subscribe", :locals => {:mode => 'dark'} %>
<%= render :partial => "partials/platforms" %>
<%= render :partial => "partials/contact" %>
